.dot {
	transition: 0.2s ease-in-out;
	background: #d9d9d9;
	border-radius: 2px;
	width: 16px;
	height: 4px;

	&:hover {
		background: #f2a905;
	}
}

.active {
	background-color: #34b829;
}
